*{
    margin: 0px;
    padding: 0px;
    background-color: #ededed;
}

.foot{
    position: absolute;
     bottom: 0;
     right: 0;
}

.link--upgrade{
    color: white;
}



.homepage--login__form{
    max-width: 250px;
    border: 1px solid black;
    padding: 15px;
    text-align: center;
    /* position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    margin-left: auto;
    margin-right: auto;
}

.session--hub{
    text-align: center;
}

.roll__bold{
    font-weight:bold;
}

.hub--avatar{
    height: 70%;
    width: 70%;
}

.shortened{
    height: 1000%;
}

.roll--form{
    border: 1px solid black;

}

.padded{
    padding: 25px;
}

.homepage--logo{
    text-align: center;
    margin-top: 50px;
}

.create--error{
    color: red;
}

.session--copyright--box{
    position:relative;
}

.session--copyright{
    position:absolute;
    bottom:0;
    right:0;
}

#addplayersform, #editmodulesform{
    display: none;
    border: 1px solid black;
}

.create--tooltip{
    display: inline;
}
